    
    body{
        font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
    }
    .content {
        position: relative;
        width: 90vw;
        height: 500px;
        color: white;
        display: flex;
       
        justify-content: center;
        align-items: center;
    }
    .background {
        position: relative;
        width: 100vw;
        height: 100vh;
        background-color: #000;
        display: flex;
        justify-content: center;

    }
    
    .background::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-size: cover;
        background-image: url(./Assets/bg-hero.jpg);
        width: 100vw;
        height: 100vh; /* Adjust the opacity as needed for the overlay */
        z-index: 0;
        opacity: 0.3;
    }

    .content h1{
        font-size: 80px;
    }

    h2{
        font-weight: 500;
        opacity: 0.6;
    }
    
    
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 85%;
    }




      .btn {
        display: inline-block;
    
        background: transparent;
        border: none;
        border-radius: 15px;
        border: 2px solid white;
        color: #FFFFFF;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        width: 200px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
      }
      
      .btn span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }
      
      .btn span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }
      
      .btn:hover span {
        padding-right: 25px;
      }
      
      .btn:hover span:after {
        opacity: 1;
        right: 0;
      }